/*2fa*/
h1,
h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    display: flex;
    flex-direction: column;
    text-align: unset;
    padding: 20px;
}

/*Cabeçalho*/

header {
    display: block;
    flex-direction: column;
    text-align: center;
    padding: 20px;

}

header h1 {
    color: #ff0000;
}

header p {
    margin-bottom: 2em;
    text-indent: 50px;
    display: flex;
    flex-direction: column;
    text-align: unset;
    padding: 20px;


}



/*formatação das imagens*/

.container {
    display: flex;
    align-items: center;
}

.box {
    width: 600px;
    height: 300px;
    margin: 0 auto 20px auto;
    overflow: hidden;
}

.border-radius-top-left {
    border-top-left-radius: 50px;
}