/*Fonte e tamanho da fonte */
html {
    font-family: Helvetica, sans-serif;
    font-size: 70.6%;
}

/*Logo*/
/*Afasta a logo da margem e do formulário.*/
html ul {
    height: 100.55px;
    margin: 5rem;
}

ul li {
    display: inline;
}

/*corpo*/
/*Margem e cor de fundo*/
body {
    margin: 0;
    background: #f1f1f1;
}


*,
::after,
::before {
    box-sizing: border-box;
}

/*Class col*/
/*Diminui o tamanho da borda do input e da área do cliente*/
[class*=col-] {
    padding-left: 9px;
    padding-right: 9px
}

/*link "criar conta" e "esqueci senha"*/
/*Cor do link e sem underline fixo*/
.link,
a {
    color: #1c59cb;
    text-decoration: none
}


/*Link "Esqueci a senha" e "Seja cliente"*/
/*Ao passar o mouse, aparece o underline*/
.link:hover,
a:hover {
    text-decoration: underline;
}

/*Classe "button"*/
.btn {
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 3%;
    transition: .2s;
    font-weight: 500;
    box-shadow: 2px 2px 2px #00000033;
    text-shadow: 10px 5px 5px #00000080;
}

/* Classe button*/
/*Aciona a mão do mouse no botão*/
.btn {
    cursor: pointer;
}

/* Classe "button" com pseudoclasse "hover" */
/*Irá mudar a cor do botão*/
.btn:hover {
    background: #004a79
}

/*classe button*/
/*Cor do botão e tempo de ação da troca de cor do botão*/
.btn {
    transition: .2s;
    background: #d40a0a;
}

.input {
    border: 0;
    background: 0 0;
    padding: 0 14px;
    line-height: 36px;
    height: 36px;
    color: #000;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #0000000d;
    border: 1px solid #0000001a;
    font-size: 13px;
    width: 100%
}

/*Select*/
select {
    border: 0;
    background: 0 0;
    padding: 0 14px;
    line-height: 36px;
    height: 36px;
    color: #000;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #0000000d;
    border: 1px solid #0000001a;
    font-size: 13px;
    width: 100%
}

/*Grupo Label*/
.input-group label {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 3px
}

/*formulário*/
/*Tag div class="form-row"*/
.form-row {
    display: block;
    margin-top: .8rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10%;
    font-size: 18px;
}


/*cabeçalho*/
.main-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #0000000d;
    max-width: 700px;
    margin: 60px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem;
}