@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.collapse-menu {
    padding-left: 10px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.navbar-toggler {
    height: 45px;
    display:flex
}

#navbarNav {
    display: none !important;
    width: 100%;
}

#navbarNav.show {
    display: flex !important;
}

.navbar-expand-lg .navbar-toggler {
    display: inherit !important;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: column !important;
}

.navbar-expand-lg .navbar-collapse,
.collapse:not(.show) {
    display: none !important;
}


.container-fluid .navbar.bg-gray {
    background-color: #efeff0 !important;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 2px 2px 2px black;
    flex-direction: column;
}


.nav {
    color: black;
    
    
}

body {
    background-color: #fafafa;
    
    height: 100vh;
    margin: 0; 
    transition: background 0.2s linear;
}

body.dark {
    background: #232c3577;
}

body.dark .navbar.bg-gray {
    background-color: #232c35 !important;
}

.checkbox {
    display: none;
}

.label {
background-color: #111;
border-radius: 50px;
cursor: pointer;

display:flex;
align-items: center;
justify-content: space-between;

padding: 5px;
position: relative;
height: 26px;
width: 50px;

transform:scale(1.5)
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position:absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;
    transform: translate(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translate(24px)
}

.fa-moon {
    color: darkblue;
}

.fa-sun {
    color: rgb(255, 137, 2);
}