@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.with-space {
    display: flex;
}

.spacer {
    flex: 1;
}

body {
    background-color: #dad9d9;
    width: 100vw;
    margin: .1vh auto;
    font-family: 'Montserrat', sans-serif;
    max-width: 900;
    overflow: hidden;
    

}


.lines-container {
    width: 60px;
    margin-left: auto;
    cursor: pointer;
    border: 1px solid #536282;
    border-radius: 1px;
}

.lines-container:hover {
    background-color: #b9b9b9;
    border: 1px solid rgb(20, 72, 243);
}

.line {
    height: 3px;
    margin: 4px;
    border-radius: 50px;
    background-color: #ec0c0c;
    margin-right: auto;
    transition: width 0.5s ease-out;
}

.line-1 {
    width: 50px;
}

.line-2 {
    width: 40px;
}

.line-3 {
    width: 30px;
}

.lines-container:hover .line-1 {
    width: 30px;
    background-color: #004a79;
}

.lines-container:hover .line-2 {
    width: 40px;
    background-color: #004a79;
}

.lines-container:hover .line-3 {
    width: 50px;
    background-color: #004a79;
}

.menu {
    list-style-type: none;
    border-bottom: 1px solid #d4d4d4;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.5s linear;
    position:sticky;
    
    

}

.pointer {
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #004a79 #171618 #171618 #171618;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.pointer:hover {
    border-color: rgb(241, 16, 16) #2d0ce7 #2d0ce7 #2d0ce7;

}

.pointer-up {
    border-color: #9a051b #9a051b #2d0ce7 #9a051b;
    transform: translateY(-21px);
}

.pointer-up:hover {
    border-color: #e40303 #e40303 #2d0ce7 #e40303;
}

.fa-child,
.num-child,
.rede-child,
.sms-child {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s linear;
}

a.outer {
    display: block;
    color: rgb(245, 245, 245);
    text-decoration: none;
    margin-top: 2px;
    background-color: #9a051b;
    padding: 1em;
    transition: all 0.5s linear;
}

a.inner {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0.5em 3em;
    border: 1px solid #171618;
    opacity: 0.8;
    transition: all 0.5s linear;
}

a.inner:hover {
    border: 1px solid #db570b;
    opacity: 1;
}

.fa,
.num,
.rede,
.sms {
    position: relative;
    cursor: inherit;
    pointer-events: none;
}

.fa::after,
.num::after,
.rede::after,
.sms::after {
    content: "+";
    cursor: pointer;
    pointer-events: all;
    width: 20px;
    height: 20px;
    color: black;
    background-color: #eb0c0c;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5%;
    box-shadow: 1px 3px 1px 1px #171618;
    transition: background-color 0.5s linear;

}

.tel:hover::after,
.net:hover::after,
.rede:hover::after,
.mob:hover::after {
    background-color: #2d0ce7;
}

.btn-anime::after {
    right: 4.8%;
    bottom: 20%;
    box-shadow: 0px 0px 0px 0px #171618;
}

.content::after {
    content: "\2212";
}

#menu-h {
    margin: 0vh auto;
    list-style: none;
    padding: 0;
    background-color: #efeff0;
    box-shadow: 2px 2px 2px black;
}

#menu-h li {
    display: inline;

}

#menu-h li a {
    color: #004a79;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .5s;
}

#menu-h li:last-child a {
    float: right;
    color: #fff;
    border: 10px;
    border-radius: 30px;
    background-color: #004a79;
    box-shadow: 3px 4px 4px black;
}

#menu-h li a:last-child a,
#menu-h li a:hover {
    color: #9a051b;
}

.logo {
    padding: 5px;
}